:root {
  --main-color: var(--primary);
}

* {
  font-family: 'Cairo', sans-serif !important;
}

.swiper-wrapper {
  transition-timing-function: linear !important;
}
.swiper-slide {
  height: auto !important;
}

html[data-bs-theme='dark'] {
  --bs-border-color: #616161;
}
html[data-bs-theme='dark'] .text-dark {
  color: white !important;
}
html[data-bs-theme='dark'] .bg-dark {
  background-color: #040a13 !important;
}
html[data-bs-theme='dark'] .btn-primary {
  background-color: #031633 !important;
}
html[data-bs-theme='dark'] .btn-danger {
  background-color: #2c0b0e !important;
}
html[data-bs-theme='dark'] .btn-success {
  background-color: #051b11 !important;
}

.header a,
.subheader a,
.footer a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
table {
  margin: 0 !important;
  padding: 0 !important;
}

form ::placeholder {
  color: #c5c5c5 !important;
  font-weight: 500;
}

form input {
  font-weight: bold !important;
}

.degree_tr-linked:hover {
  cursor: pointer;
}
.degree_tr-linked:hover th,
.degree_tr-linked:hover td {
  cursor: pointer;
  color: white;
  background-color: rgb(13 110 253);
}
